body{
    background-color: black;
    font: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 300px;
    margin-left: 500px;
}
h1{
    color:red;
    font-size: larger;
}