.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
}

.login-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5em;
}

.login-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5em;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-control {
    margin-bottom: 1em;
    width: 100%;
    position: relative;
}

.login-form label {
    font-size: 1rem;
    color: #333;
    align-self: flex-start;
    margin-bottom: 0.5em;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    position: relative;
}

.login-form input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-control.invalid input {
    border-color: red;
}

/* Style for disabled email input */
.login-form input[disabled] {
    background-color: #eee; /* Gray background when disabled */
    color: #999; /* Lighter text color when disabled */
    cursor: not-allowed; /* Cursor style when disabled */
}

.login-form .email-input {
    position: relative;
    width: 100%;
}

.login-form .change-email-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    color: #007BFF;
    cursor: pointer;
}

.login-form .change-email-text:hover {
    text-decoration: none;
    color:green;
    font: bolder;
}

.login-form .form-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form button {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-form button:hover:not(:disabled) {
    background-color: #00b36e;
}
